flask==1.1.1
flask-restplus==0.13.0
flask-restful==0.3.6
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
pymongo==3.11.2
mongoengine==0.23.1
jsonpickle==1.1
PyJWT==1.7.1
pyaml==18.11.0
requests==2.25.0
urllib3==1.25.3
pytest==3.0.6
pytest-html==1.12.0
PyYAML~=6.0
setuptools~=57.0.0
pytz~=2022.2.1
six~=1.16.0
certifi~=2022.6.15
jinja2==3.0.3
werkzeug==2.2.3
itsdangerous==2.0.1
pytest==3.0.6
pytest-timeout==1.2.1